.LetterItemContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.6rem 0;

  &__letter {
    font-weight: 500;

    &.left {
      color: gray;
    }
    &.hit {
      color: green;
    }
    &.miss {
      color: red;
    }
  }
}
